<Configuration log="yes">
    <Server port="9080"
    	keystore="keystore.jks"
    	keystorePassword="edge1234"
    	truststore="truststore.jks"
    	truststorePassword="edge1234"/>
    <Pipeline name="Transmitter">
        <DicomImportService
            calledAETTag="00120010"
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="rejected"
            name="DicomImportService"
            port="1081"
            quarantine="quarantines/Transmitter/DicomImportService"
            root="roots/Transmitter/DicomImportService"
			servletContext="export" />
        <ObjectCache
            name="ObjectCache-RS"
            class="org.rsna.ctp.stdstages.ObjectCache"
            id="ObjectCache-RS"
            root="roots/Transmitter/ObjectCache-RS" />
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            lookupTable="scripts/lookup-table.properties"
            name="DicomAnonymizer"
            quarantine="quarantines/Transmitter/DicomAnonymizer"
            root="roots/Transmitter/DicomAnonymizer"
            script="scripts/Transmitter.script"/>
        <CachingXDSExportService
        	servletContext="xds-export"
            name="CachingXDSExportService-RS"
            class="org.rsna.isn.ctp.xds.sender.CachingXDSExportService"
            root="roots/Transmitter/CachingXDSExportService-RS"
            objectCacheID="ObjectCache-RS"
            minAge="300"
            timeDepth="30"
			iti8Pix="mllps://clearinghouse.lifeimage.com:8888"
			iti8Reg="mllps://clearinghouse.lifeimage.com:8890"
			iti41="https://clearinghouse.lifeimage.com/services/xdsrepositoryb"
			iti41SrcId="1.3.6.1.4.1.19376.2.840.1.1.2.1"
			timeout="120000"
            quarantine="quarantines/Transmitter/CachingXDSExportService-RS">

            <Destination
            	name="Trial 1"
            	key="871d2ec562ce294726451492eb90430e8245f55763e1b0ad199c074029cbc420" />

        </CachingXDSExportService>
    </Pipeline>
    <Pipeline name="Receiver">
		<PollingXDSImportService
			name="PollingXDSImportService-RR"
			class="org.rsna.isn.ctp.xds.receiver.PollingXDSImportService"
			root="roots/Receiver/PollingXDSImportService-RR"
			interval="60"
			rad69URL="https://clearinghouse.lifeimage.com/ImagingDocumentSource_Service?wsdl"
			registryURL="https://clearinghouse.lifeimage.com/services/xdsregistryb"
			repositoryURL="https://clearinghouse.lifeimage.com/services/xdsrepositoryb"
			repositoryUniqueID="rsna.domain.repository"
			assigningAuthorityUniversalID="1.3.6.1.4.1.19376.2.840.1.1.1.1"
			assigningAuthorityUniversalIDType="ISO"
			homeCommunityID="rsna.domain&lt;/HomeCommunityId"
			siteID="871d2ec562ce294726451492eb90430e8245f55763e1b0ad199c074029cbc420"
			imagesPerRequest="100"
			timeout="120000"
			servletContext="xds-import" />
        <ObjectLogger
            name="ObjectLogger-RR"
            class="org.rsna.ctp.stdstages.ObjectLogger"
            interval="1"
            verbose="yes" />
        <FileStorageService
            class="org.rsna.ctp.stdstages.FileStorageService"
            name="FileStorageService"
            port="1086"
            quarantine="quarantines/Receiver/FileStorageService"
            root="roots/Receiver/FileStorageService"/>
   </Pipeline>
</Configuration>
